*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;   
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-color: #d63384 ;
}
#todolist .container{
    background-color: rgb(111, 224, 66);
    border-radius: 8px;
    opacity: 0.9;
}
#listhead{
    font-weight: bold;
}